.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bg-red{
    background: red;
}
.bg-blue{
    background-color: blue;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items:center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.font-bold{
    font-weight: bold;
}